<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="./common/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/eel.js"></script>
    <script src="./common/jquery/jquery-3.5.0.min.js"></script>
    <script src="./common/vue-2.6.11/dist/vue.min.js"></script>
    <script src="./common/screen_transition.js"></script>
    <script src="./common/error_msg.js"></script>
    <link rel="icon" href="./icon/icon.ico">
    <link rel="stylesheet" type="text/css" href="./common/v-cloak.css">
    <title>FFCaller</title>
</head>
<body>
    <!-- 入力欄 -->
    <div id="input_info" v-cloak>
        <div class="form-group">
            <span class="label label-default">filename</span>
            <input v-model="filename" type="text" class="form-control">
            <button class="btn btn-primary" v-on:click="analyze()">動画情報取得</button class="btn btn-primary">
        </div>
    </div>

    <!-- ファイル情報欄 -->
    <div id="stream_info">
        <span class="label label-default">filename</span>
        <input v-model="format.filename" type="text" class="form-control" v-cloak disabled>

        <!-- Table Format -->
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>nb_streams</th>
                    <th>duration</th>
                    <th>size</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr>
                    <td>{{format.nb_streams}}</td>
                    <td>{{format.duration}}</td>
                    <td>{{format.size}}</td>
                </tr>
            </tbody>
        </table>

        <!-- Table Video Stream, Audio Stream -->
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>項目</th>
                    <th>映像</th>
                    <th>音声</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr>
                    <th>index</th>
                    <td>{{video_stream.index}}</td>
                    <td>{{audio_stream[0].index}}</td>
                </tr>
                <tr>
                    <th>codec_type</th>
                    <td>{{video_stream.codec_type}}</td>
                    <td>{{audio_stream[0].codec_type}}</td>
                </tr>
                <tr>
                    <th>codec_name</th>
                    <td>{{video_stream.codec_name}}</td>
                    <td>{{audio_stream[0].codec_name}}</td>
                </tr>
                <tr>
                    <th>codec_long_name</th>
                    <td>{{video_stream.codec_long_name}}</td>
                    <td>{{audio_stream[0].codec_long_name}}</td>
                </tr>
                <tr>
                    <th>duration</th>
                    <td>{{video_stream.duration}}</td>
                    <td>{{audio_stream[0].duration}}</td>
                </tr>
                <tr>
                    <th>bit_rate</th>
                    <td>{{video_stream.bit_rate}}</td>
                    <td>{{audio_stream[0].bit_rate}}</td>
                </tr>
                <tr>
                    <th>width x height</th>
                    <td>{{video_stream.width}} x {{video_stream.height}}</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>r_frame_rate</th>
                    <td>{{video_stream.r_frame_rate}}</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>nb_frames</th>
                    <td>{{video_stream.nb_frames}}</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>sample_rate</th>
                    <td>-</td>
                    <td>{{audio_stream[0].sample_rate}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="trim_marge-tab" data-toggle="tab" href="#trim_marge" role="tab" aria-controls="trim_marge" aria-selected=true>トリム・マージ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="frame_segmentation-tab" data-toggle="tab" href="#frame_segmentation" role="tab" aria-controls="frame_segmentation" aria-selected=false>フレーム分割</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="trim_marge" role="tabpanel" aria-labelledby="trim_marge-tab">
            <div id="trim_marge_info">
                <div class="form-group">
                    <span class="label label-default">input_file_name</span>
                    <input v-model="input_file.input_file_name" type="text" class="form-control" v-cloak disabled>
                    <span class="label label-default">frame_specification_flag</span>
                    <input type="checkbox" v-model="input_file.frame_specification_flag" class=".form-check-input" v-cloak>
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>start_time</th>
                                <th>trim_duration</th>
                                <th>start_frame</th>
                                <th>end_frame</th>
                            </tr>
                        </thead>
                        <tbody v-cloak>
                            <tr>
                                <th><input v-model="input_file.start_time" type="text" class="form-control" :disabled='input_file.frame_specification_flag'></th>
                                <th><input v-model="input_file.trim_duration" type="text" class="form-control" :disabled='input_file.frame_specification_flag'></th>
                                <th><input v-model="input_file.start_frame" type="text" class="form-control" :disabled='!input_file.frame_specification_flag'></th>
                                <th><input v-model="input_file.end_frame" type="text" class="form-control" :disabled='!input_file.frame_specification_flag'></th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>video_fade_in</th>
                                <th>video_fade_out</th>
                                <th>audio_fade_in</th>
                                <th>audio_fade_out</th>
                            </tr>
                        </thead>
                        <tbody v-cloak>
                            <tr>
                                <th><input v-model="input_file.video_fade_in_duration" type="text" class="form-control"></th>
                                <th><input v-model="input_file.video_fade_out_duration" type="text" class="form-control"></th>
                                <th><input v-model="input_file.audio_fade_in_duration" type="text" class="form-control"></th>
                                <th><input v-model="input_file.audio_fade_out_duration" type="text" class="form-control"></th>
                            </tr>
                        </tbody>
                    </table>
                    <span class="label label-default">output_file_name</span>
                    <input v-model="output_file.output_file_name" type="text" class="form-control" disabled v-cloak>
                </div>
                <button class="btn btn-primary" v-on:click="convert()">トリム・マージ実行</button class="btn btn-primary">
                <button class="btn btn-primary" v-on:click="clear_outdir()">出力先フォルダクリア</button class="btn btn-primary">
            </div>
        </div>
        <div class="tab-pane fade" id="frame_segmentation" role="tabpanel" aria-labelledby="frame_segmentation-tab">
            <div id="frame_segmentation_info">
                <div class="form-group">
                    <span class="label label-default">input_file_name</span>
                    <input v-model="input_file.input_file_name" type="text" class="form-control" v-cloak disabled>
                    <span class="label label-default">frame_specification_flag</span>
                    <input type="checkbox" v-model="input_file.frame_specification_flag" class=".form-check-input" v-cloak>
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>start_time</th>
                                <th>trim_duration</th>
                                <th>start_frame</th>
                                <th>end_frame</th>
                            </tr>
                        </thead>
                        <tbody v-cloak>
                            <tr>
                                <th><input v-model="input_file.start_time" type="text" class="form-control" :disabled='input_file.frame_specification_flag'></th>
                                <th><input v-model="input_file.trim_duration" type="text" class="form-control" :disabled='input_file.frame_specification_flag'></th>
                                <th><input v-model="input_file.start_frame" type="text" class="form-control" :disabled='!input_file.frame_specification_flag'></th>
                                <th><input v-model="input_file.end_frame" type="text" class="form-control" :disabled='!input_file.frame_specification_flag'></th>
                            </tr>
                        </tbody>
                    </table>
                    <span class="label label-default">output_directry_name</span>
                    <input v-model="output_file.output_directry_name" type="text" class="form-control" disabled v-cloak>
                </div>
                <button class="btn btn-primary" v-on:click="convert()">フレーム分割実行</button class="btn btn-primary">
                <button class="btn btn-primary" v-on:click="clear_outdir()">出力先フォルダクリア</button class="btn btn-primary">
            </div>
        </div>
    </div>

    <!-- Vue定義 -->
    <script src="input_info.js"></script>
    <script src="stream_info.js"></script>
    <script src="trim_marge_info.js"></script>
    <script src="frame_segmentation_info.js"></script>

    <script src="./common/popper.js-1.16.0/dist/umd/popper.min.js"></script>
    <script src="./common/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>